@media only screen and (max-width: 1200px) {

    .hero-text-box h1 {
        font-size: 3.4vw;
        line-height: 115%;
    }

    .personae-section {
        padding: 70px 0;
    }
}


@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0;}

    .hero-text-box {
        float:  left;
        clear: left;
    }

    .hero-text-box h1 {
        font-size: 4.5vw;
    }

    .personae-section {
        padding-left: 30px;
    }
    .personae-section .col {
        width: 32.5%;
        margin: 0 0 1% 0;
    }

    .portret .text h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }

    .main-nav-box {
        display: none;
    }

    .mobile-nav-icon {
        display: inline-block;
        float: right;
        position: absolute;
        right: 15px;
        top: 10px;
        z-index: 9999;
    }

    .main-nav-box li {
        float: none;
        width: 45%;
    }

    .main-nav-box li:hover > .dropdown,
    .main-nav-box li .dropdown:hover {
        display: none;
    }

    .sticky .main-nav-box li:hover {
        background-color: #ff9f43;
    }

    .sticky .mobile-nav-icon {
        color: #576574;
    }

    .hero-text-box h1 {
        font-size: 5.5vw;
        line-height: 110%;
    }

    .log-section .col {
        width: 32%;
        margin: 0 1% 1% 0;

    }

    .log-section .btn {
        margin-top: 20px;
    }

    .personae-section {
        padding-left: 20px;
    }

    .personae-section .col {
        width: 50%;
        margin: 0 0 1% 0;
    }

    footer .quick-links {
        display: table;
        margin: 0 auto;
    }

    footer .quick-links a {
        font-size: 110%;
    }

    footer .quick-links li:last-of-type {
        margin-bottom: 0.75rem;
    }

    footer .wh-references {
        float: none;
        width: 100%;
        clear: both;
    }
    footer .wh-references img {
        float: none;
        display: inline-block;
        width: 25%;
        
    }

    footer p {
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 490px) {
    section { padding: 30px 0; }

    header {
        height: 70vh;
    }

    .hero-text-box {
        display: none;   
    }

    .log-section .col {
        width: 49%;
        margin: 0 1% 1% 0;
    }

    .personae-section  {
        padding: 15px 0;
        font-size: 150%;
    }

    .personae-section .col {
        width: 100%;
        margin: 0 0 1% 0;
    }

    .portret .text h1 {
        font-size: 50px;
    }

    footer {
        text-align: center;
    }
    
    footer .quick-links {
        float: none
    }

    footer .quick-links li, footer .wh-references img {
        display: block;
        margin: 0 auto;
    }

    footer .quick-links li {
        padding: 0.5rem;
    }

    footer .quick-links li:last-of-type {
        margin-bottom: 2rem;
    }

    footer .quick-links a {
        font-size: 130%;
    }

    footer .wh-references {
        width: 100%;
    }

    footer p {
        padding-top: 3rem;
    }
  
}