/* ----- BASIC SETUP ------ */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Alegreya SC', serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ------ REUSABLE CONTENT ----- */

.row { 
    max-width: 1140px; 
    margin: 0 auto; 
}

/* ----- HEADER ------- */

header {
    background-image: linear-gradient(rgba(255, 255, 255, 0.13), rgba(0, 0, 0, 0.6)), url('img/hero-test.jpg');
    height: 100vh;
    background-size: cover; 
    background-position: center;
    position: relative;
}

/* ----- MAIN NAV ----- */
/* Lesson taken: the display property cannot be animated and just by having it in your CSS it overrides the visibility and opacity transitions.
But an element with visibility: hidden takes up the space in DOM when with display: none doesn't. So? Use position:absolute - absolutely positioned elements are no longer part of the layout - parent items have no idea how big absolutely-positioned child elements are*/

.main-nav li {
    display: inline-block;
    position: relative;
}

.main-nav li:hover {
  cursor: pointer;
}

.main-nav .dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s, visibility 0.4s;
}

.main-nav li:hover > .dropdown {
  visibility: visible;
  opacity: 1;
}

.main-nav li .dropdown li {  
  width: 100%;
}

