/* ----- BASIC SETUP ------ */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Alegreya SC', serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* ------ REUSABLE CONTENT ----- */

.row { 
    max-width: 1140px; 
    margin: 0 auto; 
}

/* ----- HEADER ------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/hero-test.jpg');
    height: 100vh;
    background-size: cover; 
    background-position: center;
    position: relative;
}

/* ----- MAIN NAV ----- */
/* Lesson taken: the display property cannot be animated and just by having it in your CSS it overrides the visibility and opacity transitions.
But an element with visibility: hidden takes up the space in DOM when the one with display: none doesn't. So? Use position:absolute - absolutely positioned elements are no longer part of the layout - parent items have no idea how big absolutely-positioned child elements are*/
nav {
    background-color: #343e4a;
}
.main-nav-box {
    float: right;
}

.main-nav-box li {
    display: block;
    float: left;
    position: relative;
    padding: 1rem 0; 
}

.main-nav-box li a {
     text-decoration: none;
     font-size: 110%;
     color: #fff;
     padding: 0 2rem;

}

.main-nav-box li:hover {
  cursor: pointer;
}

.main-nav-box .dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  margin-top: 1rem; /* because .main-nav li padding is 1rem - otherwise they overlap */
  width: 100%;
  background-color: #343e4a;
}

.main-nav-box li .dropdown:last-child {
    width: 150%;
}
.main-nav-box li:last-child .dropdown:last-child {
    width: 200%;
}

.main-nav-box li:hover > .dropdown {
  visibility: visible;
  opacity: 1;
}

.main-nav-box li .dropdown li {  
  width: 100%; /*if they don't take up 100%, they collapse to one line */    
  padding: 0.5rem;
}

.main-nav-box li:hover {
    background-color: #707780;
}

